.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
}

.experience__Frontend,
.experience__Backend {
   background: #2c2c6c;
   padding: 2.4rem 5rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: all 0.3s ease 0s;

   @media (any-hover: hover) {
      &:hover {
         background: transparent;
         border-color: #2c2c6c;
         cursor: default;
      }
   }

   & h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: #4db5ff;
   }
}

.experience__content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 2rem;
}

.experience__details {
   display: flex;
   gap: 1rem;
}

.eperience__icon {
   margin-top: 6px;
   color: #4db5ff;
}


// ================ MEDIA QUERIES ( MEDIUM DEVICES ) ====================

@media screen and (max-width: 1024px) {
   .container {
      grid-template-columns: 1fr;
   }

   .experience__Frontend,
   .experience__Backend {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
   }
}

// ================ END MEDIA QUERIES ( MEDIUM DEVICES ) ====================


// ================ MEDIA QUERIES ( MEDIUM SMALL ) ====================

@media screen and (max-width: 600) {
   .container {
      gap: 1rem;
   }

   .experience__Frontend,
   .experience__Backend {
      width: 100%;
      padding: 2rem 1rem;
   }
}

// ================ END MEDIA QUERIES ( MEDIUM SMALL ) ====================